
body {
  min-width: 1160px;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Roboto', 'Arial', sans-serif;
  line-height: 24px;
  color: #283136;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* header */

.main__header {
  background-color: #eeeeee;
}

.inner-page .main__header {
  margin-bottom: 60px;
}

.main__navigation {
  display: flex;
  padding-top: 50px;
}

.main__navigation a {
  color: inherit;
}

.main-header__logo {
  height: 65px;
}

.main-header__logo a {
  display: inline-block;
  width: 160px;
  height: 65px;
  margin-right: 200px;
  background-image: url("../img/nerds-logo.svg");
}

.main-header__logo a:hover {
  background-image: url("../img/nerds-logo__hover.svg");
}

.main-header__logo a:active {
  background-image: url("../img/nerds-logo__active.svg");
}

.main-header__menus {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px 0 15px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.main-menu__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-menu__list li {
  display: inline-block;
  margin-right: 45px;
}

.main-menu__list a {
  position: relative;
  padding-bottom: 15px;
}

.main-menu__list:not(.main-menu__current) a:hover::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fb565a;
}

.main-menu__list a:hover,
.user-menu__list a:hover {
  color: #fb565a;
}

.main-menu__list a:active,
.user-menu__list a:active {
  color: #a6a6a6;
}

.main-menu__current a {
  position: relative;
}

.main-menu__current a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #fb565a;
}

.user-menu__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.user-menu__list a {
  position: relative;
  padding-bottom: 15px;
}

.user-menu__list a:hover::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fb565a;
}

.cart__link {
  position: relative;
  padding: 0;
  padding-left: 40px;
}

.cart__link::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.slider {
  position: relative;
  overflow: hidden;
}

.slider input[type="radio"] {
  display: none;
}

.slider-slides__list {
  margin: 0;
  padding: 0;
  width: 300%;
  list-style: none;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.slider-slides__list li {
  position: relative;
  display: flex;
  float: left;
  height: 432px;
  width: 1160px;
  background-color: #eeeeee;
}

.slider-slides__list h2 {
  margin: 0;
  margin-bottom: 30px;
  font-size: 55px;
  line-height: 55px;
}

.slide__description {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 520px;
  margin-bottom: 80px;
}

.slide__description p {
  margin: 0;
}

.button {
  display: block;
  width: 160px;
  height: 50px;
  padding: 0;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  background-color: #fb565a;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  outline: none;
}

.button:hover {
  background-color: #e74246;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #d7373b;
  box-shadow: 0 3px 0 rgba(0, 1, 1, 0.1);
}

.button-know-more {
  margin-top: 40px;
  width: 240px;
  line-height: 50px;
}

.slide__image {
  line-height: 0;
  margin-top: auto;
  margin-left: auto;
}

.slider-controls {
  position: absolute;
  bottom: 96px;
  left: 536px;
  z-index: 3;
}

.slider-controls label {
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-right: 17px;
  background-color: #ffffff;
  border-radius: 50%
}

.slider-controls label::after {

}

#toggle-1:checked ~ .slider-controls label[for="toggle-1"],
#toggle-2:checked ~ .slider-controls label[for="toggle-2"],
#toggle-3:checked ~ .slider-controls label[for="toggle-3"] {
  box-shadow: inset 0 0 0 2px #c1c1c1;
  border: 5px solid #ffffff;
  border-radius: 50%;

}

#toggle-1:checked ~ .slider-slides__list {
  transform: translate(0);
  transition-duration: 0.8s;
}

#toggle-2:checked ~ .slider-slides__list {
  transform: translate(-1160px);
  transition-duration: 0.8s;
}

#toggle-3:checked ~ .slider-slides__list {
  transform: translate(-2320px);
  transition-duration: 0.8s;
}

.main-offers {
  margin: 80px 0 0;
  padding-bottom: 80px;
  border-bottom: 2px solid #eeeeee;
}

.main-offers__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-offers__list li {
  max-width: 300px;
}

.main-offers__list li:not(:nth-child(3n)) {
  margin-right: 100px;
}

.main-offers__list img {
  display: block;
}

.main-offers__list h3 {
  font-size: 24px;
  line-height: 30px;
  margin: 30px 0;
  text-transform: uppercase;
}

.main-offers__list p {
  margin: 0;
  margin-bottom: 35px;
}

.order-button {
  width: 160px;
  border: none;
}

.applications .order-button {
  background-color: #00ca74;
}

.applications .order-button:hover {
  background-color: #00bc6c;
}

.applications .order-button:active {
  background-color: #00aa62;
}

.presentations .order-button {
  background-color: #efc84a;
}

.presentations .order-button:hover {
  background-color: #eab534;
}

.presentations .order-button {
  background-color: #e5a722;
}

.about-us {
  margin-top: 40px;
}

.about-us ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.index-columns {
  display: flex;
  justify-content: space-between;
}

.about-us .index-columns {
  margin-bottom: 80px;
}

.index__left-column {
  width: 660px;
}

.index__left-column h2 {
  margin: 40px 0 35px;
  font-size: 45px;
  line-height: 45px;
}

.index__custom-title {
  display: block;
  text-transform: uppercase;
  font-weight: 700;
}

.index-columns p {
  margin: 0;
  margin-bottom: 45px;
}

.about-us__list li {
  position: relative;
  margin-top: 35px;
  padding-left: 35px;
}

.about-us__list li::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 25px;
  height: 2px;
  background-color: #fb565a;
  transform: translateY(-50%);
}

.index__right-column {
  width: 360px;
}

.index__right-column .index__custom-title {
  margin: 40px 0 50px;
  text-align: center;
}

.numbers__list {
  display: flex;
}

.numbers__list li {
  line-height: 18px;
}

.numbers__list span {
  display: inline-block;
  margin-bottom: 30px;
  font-size: 45px;
  font-weight: 700;
}

.numbers__list span::after {
  content: "%";
  font-size: 50%;
  font-weight: 700;
  vertical-align: super;
}

.about-us .customers__list {
  display: flex;
  justify-content: space-around;
  margin-bottom: 80px;
  line-height: 0;
  border-top: 3px solid #eeeeee;
  border-bottom: 3px solid #eeeeee;
}

.customers__list li {
  cursor: pointer;
}

.customers__list img {
  opacity: 0.2;
}

.customers__list img:hover {
  opacity: 1;
}

.customers__list img:active {
  opacity: 0.1;
}

/* catalog */

.main__header h1 {
  display: inline-block;
  width: 100%;
  margin: 0;
  margin-top: 80px;
  margin-bottom: 120px;
  font-size: 55px;
  line-height: 55px;
  text-align: center;
}

.catalog-columns {
  display: flex;
  justify-content: space-between;
}

.catalog-filters {
  width: 260px;
}

.catalog-filters__form fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.catalog-filters__form fieldset:not(:last-of-type) {
  margin-bottom: 55px;
}

.catalog-filters__form legend {
  margin-bottom: 20px;
  padding: 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
}

.catalog-filters__form ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.catalog-filters__form input {
  margin: 0;
}

.price-filter legend {
  margin-bottom: 55px;
}

.price-filter__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  list-style: none;
}

.price-filter__list li {
  display: flex;
  align-items: center;
}

.price-filter__list li:nth-of-type(1) {
  position: relative;
  width: 100%;
  padding: 30px 20px;
  margin-bottom: 15px;
  background-color: #eeeeee;
  border-radius: 3px;
}

.price-filter input[name="price-range"] {
  -webkit-appearance: none;
  appearance: none;
  position: relative;
  width: 100%;
  height: 2px;
  background-color: #d7dcde;
  outline: none;
}

.price-filter input[name="price-range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
/*  width: 20px;
  height: 20px;
  background-color: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;*/
}

.price-filter .bar {
  position: absolute;
  display: block;
  top: 30px;
  left: 20px;
  width: 140px;
  height: 2px;
  background-color: #00ca74;
}

.price-filter .bar::before,
.price-filter .bar::after {
  content: "";
  position: absolute;
  top: -10px;
  width: 20px;
  height: 20px;
  background-color: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
}

.price-filter .bar::after {
  left: 140px;
}

.price-filter label {
  margin-right: 10px;
}

.price-filter input[type="text"],
.price-filter label {
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
}

.price-filter input[type="text"] {
  width: 80px;
  height: 40px;
  text-align: center;
  background-color: #eeeeee;
  border: none;
  border-radius: 3px;
}

.grid-filter__list input,
.features-filter__item input {
  display: none;
}

.grid-filter label,
.features-filter label {
  position: relative;
  padding-left: 35px;
  cursor: pointer;
}

.grid-filter__list label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border: 3px solid #a6a6a6;
  border-radius: 50%;
  box-shadow: inset 0 0 0 4px #ffffff;
}

.grid-filter__list input:checked ~ label::before {
  background-color: #a6a6a6;
}

.grid-filter__list input:checked ~ label:hover::before {
  background-color: #4d4d4d;
}

.grid-filter__list input:not(:disabled) ~ label:hover,
.features-filter__item input:not(:disabled) ~ label:hover {
  color: #000000;
}

.grid-filter__list input:not(:disabled) ~ label:hover::before {
  border: 3px solid #4d4d4d;
}

.grid-filter__list input:disabled ~ label,
.features-filter__item input:disabled ~ label {
 opacity: 0.3;
 cursor: default;
}

.features-filter__item {
  position: relative;
}

.features-filter__item label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border: 2px solid #a6a6a6;
}

.features-filter__item:hover input:not(:disabled) label::before {
  border: 3px solid #4d4d4d;
}

.features-filter__item input:checked ~ .checkmark {
  position: absolute;
  top: -2px;
  left: 9px;
  width: 10px;
  height: 18px;
  border: 4px solid #a6a6a6;
  border-top-style: none;
  border-left-style: none;
  transform: rotate(45deg);
}

.features-filter__item:hover input:checked ~ .checkmark {
  border: 4px solid #4d4d4d;
  border-top-style: none;
  border-left-style: none;
}

.catalog-filters__form .button-show {
  width: 100%;
  margin-top: 50px;
  color: #000000;
  background-color: #eeeeee;
}

.catalog-filters__form .button-show:hover {
  background-color: #dfdfdf;
}

.catalog-filters__form .button-show:hover {
  background-color: #dfdfdf;
}

.catalog-filters__form .button-show:active {
  background-color: #d5d5d5;
  color: rgba(0, 0, 0, 0.1);
}

.catalog-goods {
  width: 760px;
  margin-bottom: 60px;
}

.catalog-goods__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 55px;
  line-height: 0;
}

.catalog-goods__header span {
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
}

.goods-sorting {
  display: flex;
  justify-content: space-between;
  width: 360px;
}

.goods-sorting ul {
  display: flex;
  justify-content: space-between;
  width: 270px;
  margin: 0;
  padding: 0;
}

.goods-sorting__item {
  display: inline-block;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  opacity: 0.3;
}

.goods-sorting__item.current {
  opacity: 1;
}

.arrows {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40px;
}

.arrow {
  font-size: 0;
}

.arrow::before {
  content: "";
  display: inline-block;
  border: 10px solid #a6a6a6;
  border-right-width: 5px;
  border-right-color: transparent;
  border-left-width: 5px;
  border-left-color: transparent;
}

.arrow.current::before {
  border-color: #010101;
  border-right-width: 5px;
  border-right-color: transparent;
  border-left-width: 5px;
  border-left-color: transparent;
  cursor: default;
}

.arrow-up::before {
  border-bottom-width: 0;
}

.arrow-down::before {
  border-top-width: 0;
}

.sorting-result__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 30px;
  padding: 0;
  list-style: none;
}

.sorting-result__item {
  margin-bottom: 30px;
}

.sorting-result__item a {
  font-size: 0;
}

.sorting-result__item img {
  border-top: 40px solid transparent;
  border-image-source: url("../img/browser.svg");
  border-image-width: 40px;
  border-image-slice: 40;
}

.sorting-result__item a:hover img {
  border-image-source: url("../img/browser-hover.svg");
}

.catalog-pagination__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-pagination__list li {
  margin-right: 10px;
}

.catalog-pagination__item.current,
.catalog-pagination__item a,
.catalog-pagination__item.next a {
  display: inline-block;
  height: 50px;
  color: #000000;
  font-size: 16px;
  line-height: 50px;
  text-align: center;
  background-color: #eeeeee;
}

.catalog-pagination__item a:hover {
  background-color: #dfdfdf;
}

.catalog-pagination__item a:active {
  background-color: #d5d5d5;
  color: rgba(0, 0, 0, 0.1);
}

.catalog-pagination__item.current,
.catalog-pagination__item a {
  width: 50px;
}

.catalog-pagination__item.current {
  line-height: 44px;
  border: 3px solid #dbdbdb;
  background-color: transparent;
}

.catalog-pagination__item.next a {
  width: 260px;
}

/* footer */

.footer-map {
  height: 420px;
  background-image:
    url("../img/map-marker.png"),
    url("../img/map.jpg");
  background-position:
    bottom 70% right 35%,
    50%;
  background-repeat: no-repeat;
}

.footer-map-contacts {
  display: inline-block;
  position: relative;
  top: 55px;
  margin: 0;
  padding: 50px 50px 45px;
  background-color: #ffffff;
}

.footer-map-contacts h2 {
  margin: 0 0 30px;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.footer-map-contacts p {
  line-height: 18px;
  margin: 0 0 40px;
}

.map-contact-button {
  width: 220px;
}

.footer-social {
  display: flex;
  padding: 70px 0;
}

.footer-social__list {
  margin: 0;
  margin-right: 140px;
  padding: 0;
  line-height: 0;
  list-style: none;
}

.footer-social__list li {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  margin-right: 10px;
  background-color: #e1e1e1;
  border-radius: 50%;
  cursor: pointer;
}

.footer-social__list li:hover {
  background-color: #e74246;
}

.footer-social__list li:active {
  background-color: #d7373b;
}

.footer-social__list a {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 26px;
  height: 26px;
  background-position: center;
  background-repeat: no-repeat;
  transform: translate(-50%, -50%);
}

.footer-social__list a:active {
  opacity: 0.3;
}

.footer-social__list .vk {
  background-image: url("../img/vk-icon.svg");
}

.footer-social__list .facebook {
  background-image: url("../img/fb-icon.svg");
}

.footer-social__list .instagram {
  background-image: url("../img/insta-icon.svg");
}

.footer-social__description h2 {
  margin: 0;
  margin-bottom: 15px;
  font-size: 36px;
  line-height: 36px;
}

.footer-social__description p {
  margin: 0;
  line-height: 22px;
}

/* modal */

@keyframes shake {
  0%, 100% {
    transform: translate(-50%, -50%);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translate(-55%, -50%);
  }
  20%, 40%, 60%, 80% {
    transform: translate(-45%, -50%);
  }
}

.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  background: #ffffff;
  box-shadow: 0 20px 40px rgba(1, 0, 1, 0.75);
  transform: translate(-50%, -50%);
}

.modal-feedback {
  width: 960px;
  padding: 70px 100px 85px;
}

.modal-feedback h2 {
  margin: 0;
  margin-bottom: 45px;
  font-size: 45px;
  line-height: 45px;
}

.feedback-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.feedback-form p {
  margin: 0;
}

.feedback-form p:not(:last-of-type) {
  margin-bottom: 35px;
}

.feedback-form label {
  display: block;
  margin-bottom: 10px;
  font-weight: 700;
  line-height: 18px;
}

.feedback-form input {
  width: 360px;
  border: 2px solid #d7dcde;
  outline: none;
}

.feedback-form input:hover,
.feedback-form textarea:hover {
  border: 2px solid #b4b9bb;
}

.feedback-form input:focus,
.feedback-form textarea:focus {
  border: 2px solid #000000;
}

.feedback-form input:invalid,
.feedback-form textarea:invalid {
  border: 2px solid #e74246;
}

.feedback-form textarea {
  width: 760px;
  height: 120px;
  resize: none;
  border: 2px solid #d7dcde;
  outline: none;
}

.feedback-form *[placeholder] {
  padding: 15px 15px;
  color: #444444;
  font-family: inherit;
  font-size: inherit;
  line-height: 18px;
}

.feedback-form .send-button {
  width: 260px;
  margin-top: 45px;
  border: none;
}

.modal-show {
  display: block;
}

.modal-close {
  position: absolute;
  top: 80px;
  right: 90px;
  width: 21px;
  height: 21px;
  padding: 0;
  font-size: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}

.modal-close::before,
.modal-close::after {
  content: "";
  position: absolute;
  left: -2px;
  width: 26px;
  height: 3px;
  background-color: #fb565a;
  opacity: 0.3;
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}

.modal-close:hover::before,
.modal-close:hover::after {
  opacity: 1;
}

.modal-close:active::before,
.modal-close:active::after {
  opacity: 0.1;
}

.modal-error {
  animation-name: shake;
  animation-duration: 0.6s;
}
