
body {
  min-width: 1160px;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Roboto', 'Arial', sans-serif;
  line-height: 24px;
  color: #283136;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

.main__header {
  background-color: #eeeeee;
}

.main__navigation {
  display: flex;
  padding-top: 50px;
}

.main__navigation a {
  color: inherit;
}

.main-header__logo {
  height: 65px;
}

.main-header__logo a {
  display: inline-block;
  width: 160px;
  height: 65px;
  margin-right: 200px;
  background-image: url("../img/nerds-logo.svg");
  /*background-position: 0 0;
  background-repeat: no-repeat;
  background-size: contain;*/
}

.main-header__logo a:hover {
  background-image: url("../img/nerds-logo__hover.svg");
}

.main-header__logo a:active {
  background-image: url("../img/nerds-logo__active.svg");
}

.main-header__menus {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px 0 15px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.main-menu__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-menu__list li {
  display: inline-block;
  margin-right: 45px;
}

.main-menu__list a {
  position: relative;
  padding-bottom: 15px;
}

.main-menu__list:not(.main-menu__current) a:hover::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fb565a;
}

.main-menu__list a:hover,
.user-menu__list a:hover {
  color: #fb565a;
}

.main-menu__list a:active,
.user-menu__list a:active {
  color: #a6a6a6;
}

.main-menu__current a {
  position: relative;
}

.main-menu__current a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #fb565a;
}

.user-menu__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.user-menu__list a {
  position: relative;
  padding-bottom: 15px;
}

.user-menu__list a:hover::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fb565a;
}

.cart__link {
  position: relative;
  padding: 0;
  padding-left: 40px;
}

.cart__link::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.slider {
  position: relative;
  overflow: hidden;
}

.slider input[type="radio"] {
  display: none;
}

.slider-slides__list {
  margin: 0;
  padding: 0;
  width: 300%;
  list-style: none;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.slider-slides__list li {
  position: relative;
  display: flex;
  float: left;
  height: 432px;
  width: 1160px;
  background-color: #eeeeee;
}

.slider-slides__list h2 {
  margin: 0;
  margin-bottom: 30px;
  font-size: 55px;
  line-height: 55px;
}

.slide__description {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: 80px;
}

.slide-1 .slide__description {
  max-width: 380px;

}

.slide-2 .slide__description {
  max-width: 520px;
}

.slide-3 .slide__description {
  max-width: 410px;
}

.slide__description p {
  margin: 0;
}

.button {
  display: block;
  width: 240px;
  padding: 15px 0;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  background-color: #fb565a;
}

.button-know-more {
  margin-top: 40px;
}

.slide__image {
  line-height: 0;
  margin-top: auto;
  margin-left: auto;
}

.slider-controls {
  position: absolute;
  bottom: 96px;
  left: 536px;
  z-index: 3;
}

.slider-controls label {
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-right: 17px;
  background-color: #ffffff;
  border-radius: 50%
}

.slider-controls label::after {

}

#toggle-1:checked ~ .slider-controls label[for="toggle-1"],
#toggle-2:checked ~ .slider-controls label[for="toggle-2"],
#toggle-3:checked ~ .slider-controls label[for="toggle-3"] {
  box-shadow: inset 0 0 0 2px #c1c1c1;
  border: 5px solid #ffffff;
  border-radius: 50%;

}

#toggle-1:checked ~ .slider-slides__list {
  transform: translate(0);
  transition-duration: 0.8s;
}

#toggle-2:checked ~ .slider-slides__list {
  transform: translate(-1160px);
  transition-duration: 0.8s;
}

#toggle-3:checked ~ .slider-slides__list {
  transform: translate(-2320px);
  transition-duration: 0.8s;
}

.main-offers {
  margin: 80px 0 0;
}

.main-offers__list {
  margin: 0;
}
